@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/SpaceMono-Regular.woff2) format(woff2);
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/SpaceMono-Bold.woff2) format(woff2);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Inter-var.woff2) format(woff2);
  unicode-range: U+0000-007F, U+0080-00FF, U+2000-206F, U+20AC, U+2122,
    U+2190-2199, U+2200-22FF, U+2300-23FF, U+25A0-25FF;
}

@layer base {
  * {
    @apply scrollbar-thin scrollbar-track-navy scrollbar-thumb-dark-slate;
  }

  html {
    @apply scroll-smooth;
  }
}
